/*
  Variables - reference these anywhere inside .styl files
*/

// Colors
blue = #444896 // #2993fc
yellow = #f8b02a
red = #fd5e60
orange = #fd8b34

bg_blue = #83d1eb
bg_purple = #be68a9
bg_pink = #ec3a74
bg_peach = #f49567
bg_yellow = #fbecb6
bg_aqua = #64a8cb
bg_plum = #c7717c
bg_red = #e02e3a
bg_vimto = #b84069
bg_purple2 = #8e549c

black = #222222
white = #ffffff
gray = rgba(255,255,255,0.3)

offwhite = #fafafa
lightgray  = #edeeed
darkgray = #333333

// Sizes
radius = 5px

// Transition Timings
fast = 75ms
medi = 150ms
slow = 300ms
