/*
  Base style for the document
  - set the background color/image of the app
  - don't do anything else here
*/

body
   background linear-gradient(to bottom, bg_blue, bg_purple)
   border 10px solid white
