.Animation
   min-height 400px
   text-align center
   color white
   display flex
   justify-content center // horizontal
   align-items center // vertical

.diagram
   position relative
   width 100%
   img
      width 100%

.diagram-absolute
   position absolute

.simulate-line
   stroke #88CE02
   stroke-width 4px
