.Animation
   min-height 400px
   text-align center
   color white
   display flex
   justify-content center // horizontal
   align-items center // vertical

   @media only screen and (max-width: 601px)
      min-height 200px
      margin-top 1em


// General Diagram styles

.diagram
   position relative
   width 78%
   img
      width 100%
   @media only screen and (max-width: 601px)
      width 110%

.diagram-padding
   width 100%
   margin 0 auto

.diagram-absolute
   position absolute


// About

.about-images
   position relative
   top -50px
   @media only screen and (max-width: 601px)
      top 0

   img
      width 30%
      position relative
   .about-create
      top -150px
      left 150px
   .about-simulate
      left 250px
   .about-invest
      top 150px
      left 150px
   .about-reorganize
      top 200px
      left -150px


// Create

.create-frames
   .create-frame
      &.hidden
         opacity 0


// Simulate

.simulate-line
   stroke black // blue // black // #88CE02
   stroke-width 2px

.simulate-line2
   stroke-width 2px
   stroke-dasharray 5px


// Invest

.invest-svg
   margin 0


// Reorganize

.reorganize-frames
   .reorg-frame
      &.hidden
         opacity 0


// Contact

#contact
   .svg-play
      position relative
      top -100px
      left 50px
   .svg-read
      position relative
      top 100px
      left -50px

   @media only screen and (max-width: 601px)
      .svg-play
         top 0
         left 0
      .svg-read
         top 100px
         left 0
