.Animation
   // background-color red
   // background-color rgba(0,0,0,0.25)
   // border 1px solid gray
   border-radius radius
   min-height 400px
   text-align center
   color white
   display flex
   justify-content center // horizontal
   align-items center // vertical

.cropImg
   margin -20% 0


.diagram__simulate
   position relative
   width 100%
   img
      width 100%


.diagram-absolute
   position absolute
   // width 100%

.svgline
   stroke #88CE02
   stroke-width 4px
