.App
   // min-height 100%
   position relative
   text-align center
   max-width 1400px
   margin 0 auto
   padding 1em 0.5em 0.5em 0.5em
   border 10px solid white
   overflow hidden

   @media only screen and (min-width: 601px)
      padding 2em

   @media only screen and (min-width: 993px)
      padding 3em

.bg-gradients
   background-image linear-gradient(to bottom, bg_blue, bg_purple, bg_pink, bg_peach, bg_purple, bg_yellow, bg_aqua, bg_plum, bg_vimto, bg_purple2)
   position absolute
   top 0
   left 0
   width 100%
   height 100%
   z-index -1

.bg-gradient
   background-image linear-gradient(to bottom, bg_blue, bg_purple)
   position fixed
   display block
   left 0
   top 0
   height 100%
   width 100%
   z-index -1

.bg-gradient-hide
   opacity 0

.bg-gradient-header
   background-image linear-gradient(to bottom, bg_blue, bg_purple)

.bg-gradient-about
   background-image linear-gradient(to bottom, bg_purple, bg_pink)

.bg-gradient-create
   background-image linear-gradient(to bottom, bg_pink, bg_peach)

.bg-gradient-simulate
   background-image linear-gradient(to bottom, bg_peach, bg_yellow)

.bg-gradient-invest
   background-image linear-gradient(to bottom, bg_yellow, bg_aqua)

.bg-gradient-reorganize
   background-image linear-gradient(to bottom, bg_aqua, bg_plum)

.bg-gradient-contact
   background-image linear-gradient(to bottom, bg_plum, bg_vimto)

.bg-gradient-footer
   background-image linear-gradient(to bottom, bg_vimto, bg_purple2)

.bg-grid
   background-image url('../images/grid.png')
   background-position center center
   position fixed
   left 0
   top 0
   height 100%
   width 100%
   z-index -1
   opacity 0.5

.bg-mountains
   background-image url('../images/mountains.png')
   background-repeat no-repeat
   background-position center 1000px
   background-size 100% auto
   position fixed
   left 0
   // top -1000px
   top -700px
   height 4000px
   width 100%
   z-index -1
   opacity 0.5
