.Chat
   text-align left

.chat-message
   margin 0 0 1em 0
   padding 1em
   border-radius 5px
   width auto !important
   background-color white
   color blue
   display block

   &:first-child
      background-color blue
      color white
