.Chat
   text-align left

.message // this is also used in footer
   margin 0 0 1em 0
   padding 1em
   border-radius radius
   width auto !important
   background-color translucent_white
   color blue
   display inline-block
   font-size 18px

   a
      transition all fast ease-in-out
      color blue
      text-decoration none

      &:hover
         color lighten(blue, 20%)
         border-bottom 1px solid blue

.message--blue
   background-color translucent_blue
   color white

.chat-message
   &:first-child
      div
         background-color translucent_blue
         color white
