.Chat
   text-align left

.message // this is also used in footer
   margin 0 0 1em 0
   padding 1em
   border-radius radius
   width auto !important
   background-color white
   color blue
   display block
   font-size 18px

.chat-message
   &:first-child
      background-color blue
      color white
