.Footer
   // margin-bottom 3em
   // padding 1em
   // border 1px solid gray

.footer__box
   text-align left
   display block

.footer__box__title
   text-decoration underline

.footer__link
   margin-right 1em
   // color white
   a
      color white

.footer__person
   margin 0.25em 0 0 0
   display block
   a
      transition all fast ease-in-out
      color blue
      &:hover
         color darken(blue,30%)

.footer__person__job
   margin-left 0.5em
   font-style italic
// .footer__person__name
