.Header
   text-align center
   margin-bottom 2em

.header__link
   color white

   // // Uncomment this to add a separator
   // &:after
   //    content '|'
   //    padding-left 0.25em

   &:first-child
      margin-left 0

   &:last-child
      margin-right 0

      &:after
         content ''
         margin 0
         padding 0

   a
      transition all 100ms ease-in-out
      color white
      padding 0.5em
      &:hover
         // border-bottom 2px solid white
         background-color blue


.header__spacer
   margin 0
