.Hero
   margin-top 3em
   min-height 500px
   text-align center
   color white
   display flex
   justify-content center // horizontal
   align-items center // vertical

   button
      width 100%
      transition all fast ease-in-out
      border 2px solid blue
      background-color blue
      color white
      border-radius radius
      padding 1em
      font-size 22px
      text-align center
      opacity 0.9

      span
         font-size 14px
         display block
         padding-bottom 5px

      &:hover
         opacity 1
         transform translateY(-5px)

      &.alt
         background-color white
         border-color white
         color blue

.buttons
   padding-top 2em
   max-width 550px
   margin 0 auto
   text-transform uppercase

   .svg-icon
      transition all medi ease-in-out
      margin 0em 1em
      opacity 0.8

      &:hover
         opacity 1
         transform translateY(-5px)

      svg
         width 100%
