/*
   This file will: compile all the style files to 'styles.css', and will apply auto-prfixers.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Nunito");
html {
  font-family: Nunito;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #83d1eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#83d1eb), to(#be68a9));
  background: linear-gradient(to bottom, #83d1eb, #be68a9);
  min-height: 100%;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
a {
  text-decoration: none;
}
h1 {
  font-weight: 400;
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0;
  letter-spacing: -1px;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:focus {
  outline: 0;
}
h2 {
  font-weight: 300;
  font-size: 2.5em;
  padding: 0 1em;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}
.Animation {
  background-color: #fd5e60;
  min-height: 400px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.App {
  min-height: 100%;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0.5em;
}
@media only screen and (min-width: 601px) {
  .App {
    padding: 2em;
  }
}
@media only screen and (min-width: 993px) {
  .App {
    padding: 3em;
  }
}
.bg-grid {
  background-image: url("../images/grid.png");
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.Chat {
  text-align: left;
}
.message {
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 5px;
  width: auto !important;
  background-color: #fff;
  color: #2993fc;
  display: block;
}
.chat-message:first-child {
  background-color: #2993fc;
  color: #fff;
}
.footer__box {
  text-align: left;
}
.footer__box__title {
  text-decoration: underline;
}
.footer__link {
  margin-right: 1em;
}
.footer__link a {
  color: #fff;
}
.footer__person {
  margin: 0.25em 0 0 0;
  display: block;
}
.footer__person a {
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;
  color: #2993fc;
}
.footer__person a:hover {
  color: #0367ca;
}
.footer__person__job {
  margin-left: 0.5em;
  font-style: italic;
}
.Header {
  text-align: center;
  margin-bottom: 2em;
}
.header__link {
  color: #fff;
  display: inline;
}
.header__link:first-child {
  margin-left: 0;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:last-child:after {
  content: '';
  margin: 0;
  padding: 0;
}
.header__link a {
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;
  color: #fff;
  padding: 0.75em;
}
.header__link a:hover {
  background-color: #2993fc;
}
.Hero {
  min-height: 400px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Sections {
  text-align: center;
}
.Section {
  margin-bottom: 6em;
}
