/*
   This file will: compile all the style files to 'styles.css', and will apply auto-prfixers.
*/
@import './vendor/materialize-grid.css';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  position: relative;
}
img {
  max-width: 100%;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
@import url("https://fonts.googleapis.com/css?family=Nunito");
html {
  font-family: Nunito;
  font-size: 16px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-weight: 400;
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0;
  letter-spacing: -1px;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:focus {
  outline: 0;
}
h2 {
  font-weight: 300;
  font-size: 2.5em;
  padding: 0 1em;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#83d1eb), to(#be68a9));
  background: linear-gradient(to bottom, #83d1eb, #be68a9);
  border: 0px solid #fff;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 0.5em 0.5em 0.5em;
}
@media only screen and (min-width: 601px) {
  .container {
    padding: 2em;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    padding: 3em;
  }
}
.Animation {
  min-height: 400px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.diagram {
  position: relative;
  width: 90%;
}
.diagram img {
  width: 100%;
}
@media only screen and (max-width: 601px) {
  .diagram {
    width: 110%;
  }
}
.diagram-padding {
  width: 100%;
  margin: 0 auto;
}
.diagram-absolute {
  position: absolute;
}
.about-images {
  position: relative;
  top: -100px;
}
.about-images img {
  width: 30%;
  position: relative;
}
.about-images .about-create {
  top: -150px;
  left: 150px;
}
.about-images .about-simulate {
  left: 250px;
}
.about-images .about-invest {
  top: 150px;
  left: 150px;
}
.about-images .about-reorganize {
  top: 200px;
  left: -150px;
}
.create-frames {
  position: relative;
  text-align: center !important;
  margin-top: -150px;
}
.create-frames .create-frame {
  background-image: url("../images/create-frames-stacked-min.png");
  max-width: 100%;
  background-size: 100%;
  display: block;
  position: absolute;
}
.create-frames .create-frame.hidden {
  opacity: 0;
}
.create-frames .create-frame-0 {
  background-position: 0 0%;
}
.create-frames .create-frame-1 {
  background-position: 0 9.090909%;
}
.create-frames .create-frame-2 {
  background-position: 0 18.181818%;
}
.create-frames .create-frame-3 {
  background-position: 0 27.272727%;
}
.create-frames .create-frame-4 {
  background-position: 0 36.363636%;
}
.create-frames .create-frame-5 {
  background-position: 0 45.454545%;
}
.create-frames .create-frame-6 {
  background-position: 0 54.545455%;
}
.create-frames .create-frame-7 {
  background-position: 0 63.636364%;
}
.create-frames .create-frame-8 {
  background-position: 0 72.727273%;
}
.create-frames .create-frame-9 {
  background-position: 0 81.818182%;
}
.create-frames .create-frame-10 {
  background-position: 0 90.909091%;
}
.create-frames .create-frame-11 {
  background-position: 0 100%;
}
.simulate-line {
  stroke: #222;
  stroke-width: 2px;
}
.simulate-line2 {
  stroke-width: 2px;
  stroke-dasharray: 5px;
}
.invest-svg {
  margin: 0;
}
.reorganize-frames {
  position: relative;
  text-align: center !important;
}
.reorganize-frames .reorg-frame.hidden {
  opacity: 0;
}
#contact .svg-play {
  position: relative;
  top: -100px;
}
#contact .svg-read {
  position: relative;
  top: 100px;
}
.App {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.bg-gradients {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83d1eb), color-stop(#be68a9), color-stop(#ec3a74), color-stop(#f49567), color-stop(#fbecb6), color-stop(#64a8cb), color-stop(#be68a9), color-stop(#c7717c), color-stop(#b84069), to(#8e549c));
  background-image: linear-gradient(to bottom, #83d1eb, #be68a9, #ec3a74, #f49567, #fbecb6, #64a8cb, #be68a9, #c7717c, #b84069, #8e549c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  z-index: -1;
}
.bg-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83d1eb), to(#be68a9));
  background-image: linear-gradient(to bottom, #83d1eb, #be68a9);
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.bg-gradient-hide {
  opacity: 0;
}
.bg-gradient-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83d1eb), to(#be68a9));
  background-image: linear-gradient(to bottom, #83d1eb, #be68a9);
}
.bg-gradient-about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be68a9), to(#ec3a74));
  background-image: linear-gradient(to bottom, #be68a9, #ec3a74);
}
.bg-gradient-create {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec3a74), to(#f49567));
  background-image: linear-gradient(to bottom, #ec3a74, #f49567);
}
.bg-gradient-simulate {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f49567), to(#fbecb6));
  background-image: linear-gradient(to bottom, #f49567, #fbecb6);
}
.bg-gradient-invest {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbecb6), to(#64a8cb));
  background-image: linear-gradient(to bottom, #fbecb6, #64a8cb);
}
.bg-gradient-reorganize {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#64a8cb), to(#c7717c));
  background-image: linear-gradient(to bottom, #64a8cb, #c7717c);
}
.bg-gradient-contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c7717c), to(#b84069));
  background-image: linear-gradient(to bottom, #c7717c, #b84069);
}
.bg-gradient-footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b84069), to(#8e549c));
  background-image: linear-gradient(to bottom, #b84069, #8e549c);
}
.bg-margin {
  top: 0em !important;
  left: 0em !important;
  right: 0em !important;
  bottom: 0em !important;
  width: auto !important;
}
@media only screen and (min-width: 401px) {
  .bg-margin {
    top: 0.5em !important;
    left: 0.5em !important;
    right: 0.5em !important;
  }
}
@media only screen and (min-width: 601px) {
  .bg-margin {
    top: 1em !important;
    left: 1em !important;
    right: 1em !important;
  }
}
@media only screen and (min-width: 993px) {
  .bg-margin {
    top: 1.5em !important;
    left: 1.5em !important;
    right: 1.5em !important;
    margin-bottom: 1.5em;
  }
}
.bg-frame {
  border: 0;
}
@media only screen and (min-width: 401px) {
  .bg-frame {
    border: 1px solid rgba(255,255,255,0.3);
  }
}
.bg-grid {
  background-image: url("../images/grid.png");
  background-position: center -1px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.bg-mountains {
  background-image: url("../images/mountains.png");
  background-repeat: no-repeat;
  background-position: center 1200px;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 4000px;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
@media only screen and (max-width: 601px) {
  .bg-mountains {
    background-image: none;
  }
}
.Chat {
  text-align: left;
}
.message {
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 5px;
  width: auto !important;
  background-color: rgba(255,255,255,0.85);
  color: #444896;
  display: inline-block;
  font-size: 18px;
}
.chat-message:first-child div {
  background-color: rgba(68,72,150,0.85);
  color: #fff;
}
.footer__box {
  text-align: left;
  display: block;
}
.footer__box__title {
  text-decoration: underline;
}
.footer__link {
  margin-right: 1em;
}
.footer__link a {
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;
  color: #fff;
  border-radius: 5px;
  padding: 0.75em;
}
.footer__link a:hover {
  background-color: #444896;
}
.footer__person {
  margin: 0.25em 0 0 0;
  display: block;
}
.footer__person a {
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;
  color: #444896;
}
.footer__person a:hover {
  color: #5e63b6;
  margin-left: 5px;
}
.footer__person__job {
  margin-left: 0.5em;
  font-style: italic;
}
.Header {
  text-align: center;
  margin-bottom: 2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__link {
  color: #fff;
  display: inline;
}
.header__link:first-child {
  margin-left: 0;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:last-child:after {
  content: '';
  margin: 0;
  padding: 0;
}
.header__link a {
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;
  color: #fff;
  border-radius: 5px;
  padding: 0.75em;
}
.header__link a:hover {
  background-color: rgba(68,72,150,0.85);
}
.Hero {
  margin-top: 3em;
  min-height: 600px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Hero h1 {
  padding: 0.5em 0;
}
@media only screen and (max-width: 601px) {
  .Hero h1 {
    font-size: 3em;
  }
}
.Hero h2 {
  font-size: 2em;
  display: inline;
  background-color: #444896;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  opacity: 0.9;
}
.Hero button {
  width: 100%;
  -webkit-transition: all 75ms ease-in-out;
  transition: all 75ms ease-in-out;
  border: 2px solid #444896;
  background-color: #444896;
  color: #fff;
  border-radius: 5px;
  padding: 1em;
  font-size: 22px;
  text-align: center;
  opacity: 0.9;
}
.Hero button span {
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}
.Hero button:hover {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.Hero button.alt {
  background-color: #fff;
  border-color: #fff;
  color: #444896;
}
.buttons {
  max-width: 700px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}
.buttons .svg-icon {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin: 0 auto;
  opacity: 0.8;
  max-width: 200px;
}
.buttons .svg-icon:hover {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.buttons .svg-icon svg {
  width: 100%;
}
#adjectives div {
  display: inline;
  position: relative;
  border-bottom: 3px solid #fff;
}
#adjectives div.hidden {
  opacity: 0;
  display: none;
}
.Sections {
  text-align: center;
}
.Section {
  margin: 0 0 3em 0;
  padding: 12em 0 0 0;
}
.Section:first-child {
  margin-top: -5em;
}
.Section:last-child {
  margin-bottom: 10em;
}
.section-end {
  margin-top: 200px;
}
